Package: collectd
Version: 5.7.1-6
Depends: libc, libpthread, zlib, libltdl, libip4tc
Source: feeds/packages/utils/collectd
Section: utils
Maintainer: Jo-Philipp Wich <jo@mein.io>, Hannu Nyman <hannu.nyman@iki.fi>
Architecture: ramips
Installed-Size: 87933
Description:  collectd is a small daemon which collects system information periodically
 and provides mechanismns to store the values in a variety of ways.
